@import "boostrap-extras"
@import "sticky-footer"

@import "project"
@import "board"

@media (max-width: 415px)
  .navbar-brand small span.text
    display: none

.navbar-brand
  a
    color: white
    font-weight: bold
    font-size: 24px
    &:hover
      text-decoration: none
  #project-name
    font-weight: normal
    font-size: 20px
  #board-name
    font-weight: bold
    font-size: 24px
  #logo
    background-color: rgba(255,255,255, 0.6)
    border-radius: 10px
    width: 45px
    height: 45px
    margin: -15px 5px -10px 0
    display: inline-block
    text-align: center
    vertical-align: middle
    img
      width: 45px
      height: 45px
      padding: 5px

#menu
  @media (min-width: 768px)
    float: right !important
  a.active
    pointer-events: none
    color: white

#hypothesis td
    vertical-align: middle
    &.desc span
      font-style: italic

footer nav.navbar
  color: white
  margin-bottom: 0
  min-height: initial
  line-height: 25px

