.project-panel
  & > .panel-heading
    display: table
    width: 100%
    $size = 24px
    h3
      display: table-cell
      text-transform: none
      font-size: $size
    form
      display: none
      width: auto
      height: 30px
      margin: -4px 0 -5px -10px
      .btn-group
        margin-top: -10px
        padding-left: 10px
        width: 62px
        box-sizing: content-box
        .btn
          line-height: 20px
    input[type=text]
      width: 200px
      display: table-cell
      font-size: $size
      line-height: $size
      background-color: alpha(white, 0.75)
      border-width: 0
    .btn-group
      display: table-cell
      width: 50px
    .btn-link
      color: white
      padding: 0 7px
  &.editing .panel-heading
    h3
      display: none
    form
      display: table

  .list-group-item
    padding: 10px 15px
    .form
      display: table
      width: 100%
    .form-group
      display: table-cell
    .btn-group
      box-sizing: content-box
      padding-left: 15px
      width: 92px

  .panel-footer
    text-transform: lowercase
    .col-xs-4
      &:first-child
        padding-right: 0
      &:last-child
        padding-left: 0

    .panel
      margin-bottom: 0
    .panel-heading
      border-radius: 0 0 3px 3px
      margin-bottom: -1px
    .panel-title
      font-size: 16px
      font-weight: bold
      line-height: 10px
      display: block
    .panel-body
      padding: 0
      h4
        font-weight: 500
        font-size: small
        margin: 5px 0
        @media screen and (min-width: 1200px)
          font-weight: normal

#new-project
  .modal-dialog
    // Forcing this modal, as it's way small, to stay floating
    max-width: 300px
    margin: 10px auto
  label small
    font-style: italic
    color: #D9534F
    opacity: 0
    transition: opacity 0.5s
  &.has-error label small
    display: inline
    opacity: 1
