<li class="list-group-item">
  {{board.name}}
	<div class="pull-right">
		<span class="label label-info">{{board.hyp_total}}</span>
		<span class="label label-success">{{board.hyp_valid}}</span>
		<span class="label label-warning">{{board.hyp_invalid}}</span>
	</div>
</li>
