<table class="table table-bordered table-striped table-hover" style="width: 100%">
	<thead>
	<tr>
		<th>Hypothesis</th>
		<th>Method</th>
		<th>Criterion</th>
	</tr>
	</thead>
	<tbody>
    {{#each hyp in model.hypotheses}}
      {{hypothesis-block hyp=hyp}}
    {{/each}}
	</tbody>
</table>
