<header>
    <nav class="navbar navbar-default">
	    <div class="container-fluid">
		    <div class="navbar-header">
			    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#menu">
				    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			    </button>
          <div class="navbar-brand">
            {{#link-to 'index'}}Protoboard{{/link-to}}
            <small>[
              <span class="text-success">{{valid}}</span> /
              <span class="text-danger">{{invalid}}</span> /
              <span class="text-info">{{total}}</span>
            <span class="text">hypothesis</span>]</small>
          </div>
        </div>

		    <div class="collapse navbar-collapse" id="menu">
			    <ul class="nav navbar-nav">
				    <li class="active"><a href="#">Login <span class="sr-only">(current)</span></a></li>
			    </ul>
		    </div>
	    </div>
    </nav>
</header>

<div class="container">
  {{outlet}}
</div>

<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <a href="http://www.igorsantos.com.br">Igor Santos</a>
            <a href="https://github.com/igorsantos07/protoboard">Source Code</a>
            <a href="https://github.com/igorsantos07/protoboard/issues">Issues</a>
        </div>
    </nav>
</footer>
