<header class="page-header">
  <h1>
    {{#link-to 'index'}}BreadBoard{{/link-to}}
    <small>[
      <span class="text-success">{{valid}}</span> /
      <span class="text-danger">{{invalid}}</span> /
      <span class="text-info">{{total}}</span>
      hypothesis ]
    </small>
  </h1>

  <div class="pull-right">
	  <a href="#">Login</a>
  </div>
</header>

<div>{{! FIXME: is article the right tag? }}
  {{outlet}}
</div>

<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <a href="http://www.igorsantos.com.br">Igor Santos</a>
            <a href="https://github.com/igorsantos07/breadboard">Source Code</a>
            <a href="https://github.com/igorsantos07/breadboard/issues">Issues</a>
        </div>
    </nav>
</footer>
