<h2>Project's list</h2>

<ul>
	<li>
    Project 1
		<ul>
			<li>Client 1</li>
			<li>Client 2</li>
		</ul>
	</li>
	<li>
	  Project 2
		<ul>
			<li>Client 1</li>
		</ul>
	</li>
	<li>
	  Project 3
		<ul>
      <li>Client 1</li>
      <li>Client 2</li>
      <li>Client 3</li>
		</ul>
	</li>
	<li>
	  Project 4
		<ul>
			<li>Client 1</li>
			<li>Client 2</li>
		</ul>
	</li>
</ul>
