<h2>
    All projects
    {{#if model}}
      <small><a href="#new-project" data-toggle="modal">New project</a></small>
    {{/if}}
</h2>

  {{#if model}} {{! not using emptyViewClass for now since it's contents are way to simple }}
    <div class="row">
      {{each project in model itemViewClass='project/index'}}
    </div>
  {{else}}
    <h3 class="well well-lg text-center">
        No projects yet...
        <a href="#new-project" class="alert-link" data-toggle="modal">Create one</a>!
    </h3>
  {{/if}}

{{partial "project/_new"}}
